#header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  background-image: url("/src/images/logo.png");
  height: 200px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  background-position: center;
}

.head-text,
p {
  font-size: 25px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

hr {
  width: 100%;
}

#footer-text {
  padding-left: 2%;
  font-size: 22px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin-top: 20px;
}

.card {
  width: 30%;
  text-align: center;
  padding-bottom: 100px;
  list-style-type: none;
}

.card-name-like-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-like {
  background-color: white;
  border: none;
}

.card-comment {
  height: 30px;
  background-color: white;
  width: 100px;
}

/* comment popup */
#modal-popup {
  height: 100%;
  display: none;
  position: fixed;
  overscroll-behavior: contain;

  /* Stay in place */
  z-index: 1;

  /* Sit on top */
  padding-top: 100px;

  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;

  /* Full width */

  /* Full height */
  overflow: auto;

  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);

  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);

  /* Black w/ opacity */
}

#modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 700px;
  color: magenta;
  margin-bottom: 120px;
}

input[type="text"] {
  height: 40px;
  width: 300px;
}

input[type="textarea"] {
  height: 100px;
  width: 500px;
  margin-top: 25px;
}

input[type="submit"] {
  height: 60px;
  width: 150px;
  margin-top: 25px;
  font-size: 25px;
}

.modal-img {
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  height: 700px;
  width: 475px;
}

.movie-details {
  display: flex;
  gap: 100px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 90%;
  }
}
